* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header-div {
	background-color: rgb(248, 222, 232);
	padding: 10px 0;
}
.container {
	width: 60%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.header {
	overflow: hidden;
}
.grean-title,
.green-btn {
	float: left;
	width: 50%;
}
.grean-title {
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	color: darkgoldenrod;
	margin-bottom: 15px;
}
.green-btn {
	text-align: right;
}
.green-btn button {
	border: none;
	background-color: darkgoldenrod;
	color: white;
	font-size: larger;
	text-transform: uppercase;
	width: 100px;
	height: 50px;
	margin-top: 10px;
}
/*---------------------------form div------------------*/
.form-div {
	background-image: url(../image/Woods\ -\ Dzenina\ Lukac\ via\ Pexels.jpg);
	height: 694px;
	background-size: cover;
}
.form-content {
	background-color: rgba(0, 0, 0, 0.589);
	width: 60%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.form-title {
	color: white;
	margin: 50px 10px;
	text-transform: uppercase;
}
input {
	display: block;
	margin: 1px auto 10px auto;
	width: 300px;
	height: 30px;
}
.label {
	color: white;
	margin-right: 225px;
}
input[type="submit"] {
	width: 90px;
	background-color: darkgoldenrod;
	border: none;
	color: white;
	border-radius: 10%;
	margin: 30px auto;
}
input[type="button"] {
	width: 300px;
	background-color: darkgoldenrod;
	border: none;
	color: white;
	border-radius: 10%;
	margin: 60px auto;
}
.desc {
	color: white;
}
/*-----------------------footer----------------*/
.footer-div {
	width: 100%;
	background-color: #e8e8e8;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: darkgoldenrod;
}
@media screen and (max-width: 400px) {
	.container {
		width: 90%;
	}

	.grean-title,
	.green-btn {
		width: 40%;
	}

	.grean-title {
		font-size: 15px;

		margin-bottom: 0;
	}
	.green-btn {
		margin-left: 43px;
	}
	.green-btn button {
		font-size: 10px;
		width: 50px;
		height: 25px;
		margin-top: 0;
	}
	/*---------------------------------------*/
	.form-div {
		height: 300px;
	}
	.form-content {
		width: 90%;
	}

	.form-title {
		margin: 15px 1px;
		font-size: small;
	}
	input {
		margin: 1px auto 0 auto;
		width: 150px;
		height: 20px;
	}
	.label {
		color: white;
		margin-right: 110px;
		font-size: x-small;
	}
	input[type="submit"] {
		width: 50px;
		font-size: x-small;
		margin: 10px auto;
	}
	input[type="button"] {
		width: 150px;
		font-size: x-small;
		margin: 20px auto;
	}
	.desc {
		font-size: x-small;
	}
		.footer-div {
		height: 25px;
		text-align: center;
		line-height: 25px;
		font-size: x-small;
	}
}
